extends layout

block content
  .container
    form(action="/contact/send", method="POST")
      h1 Contact Us
      .form-group
        label(for="sender-name") Name
        input.form-control(id="sender-name", type="text", name="name", placeholder="Enter your name")
      .form-group
        label(for="sender-email") Email
        input.form-control(id="sender-email", type="email", name="email", placeholder="Enter your email")
      .form-group
        label(for="sender-msg") Message
        textarea.form-control(id="sender-msg", name="message", placeholder="Enter your message")
      .form-group
        input.btn.btn-primary(type="submit", name="sumbit", value="Submit")
